.app {
    text-align: center;
}

.app-logo {
    animation: app-logo-spin infinite 20s linear;
    height: 80px;
}

.app-header {
    background-color: #222;
    color: white;
}

.app-title {
    font-size: 1.5em;
}

.app-intro {
    font-size: large;
}

@keyframes app-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
