/*
 *
 * {{properCase name }}
 *
 */

import React, { {{ component }} } from 'react';
import PropTypes from 'prop-types';
import { connect } from 'react-redux';
{{#if wantActionsAndReducer}}
import { cReducer as c } from './constants';
import * as actions from './actions';
import { bindActionCreators } from 'redux';
{{/if}}

class {{ properCase name }} extends {{{ component }}} { // eslint-disable-line react/prefer-stateless-function
  render() {
    return (
      <div>{{ properCase name }}</div>
    );
  }
}

{{ properCase name }}.propTypes = {
  //
};

{{#if wantActionsAndReducer}}
const mapStateToProps = (state) => ({
  {{camelCase name}}: state.{{camelCase name}},
  [c.defaultValue]: state.{{camelCase name}}.get(c.defaultValue)
});

function mapDispatchToProps(dispatch) {
  return {
    actions: bindActionCreators(actions, dispatch)
  };
}
{{/if}}

{{#if wantActionsAndReducer}}
export default connect(mapStateToProps, mapDispatchToProps)({{ properCase name }});
{{else}}
export default {{ properCase name }};
{{/if}}
