/*
 *
 * {{ properCase name }} reducer
 *
 */

import { Map } from 'immutable';
import {
  cReducer as c,
  DEFAULT_ACTION,
} from './constants';

const initialState = Map({
  [c.defaultValue]: 'defaultValue'
});

function reducer(state = initialState, action) {
  switch (action.type) {
    case DEFAULT_ACTION:
      return state;
    default:
      return state;
  }
}

export default reducer;
