/*
*
* {{ properCase name }} saga
*
*/

import { take, call, put, select, takeLatest, all } from 'redux-saga/effects';
import { DEFAULT_ACTION } from './constants';
import { url, get, post, del, update } from '../../network';
import request from '../../request';
import { fulfilled, rejected } from '../../global/actions';

// There is our default saga
// Sagas are used for handling ASYNC communication
export function* defaultSaga() {
    try {
        const response = yield call(request, url('/default-url'), get());
        yield put(fulfilled(DEFAULT_ACTION, response));
    } catch (err) {
        yield put(rejected(DEFAULT_ACTION, err));
    }
}

// There is our saga watcher
// Each action (actions.js) has a constant, the constant may be listened by our watcher.
// If we call action with watched constant our saga is then automatically triggered for us
// and then we can handle ASYNC communication
export default function* sagas() {
    yield all([
        yield takeLatest(DEFAULT_ACTION, defaultSaga()),
    ])
};
