/*
 *
 * {{properCase name }} model
 *
 */
import { Map } from 'immutable';

// {{properCase name }} - Constants
export const c{{properCase name }} = {
  default: 'default'
};

// {{properCase name }} - Model
export const {{properCase name }} = new Map({
  [c{{properCase name}}.default]: ''
});

// {{properCase name }} - Model Mapper
export const map{{properCase name }} = src => new Map({
  [c{{properCase name}}.default]: src[c{{properCase name }}.default]
});

// {{properCase name }} - Model - List to Map Mapper
export const map{{properCase name }}ListToMap = src => {
  let map = new Map();

  src.map(o => {
    const obj = map{{properCase name }}(o);
    map = map.set(obj.get(c{{properCase name }}.id), obj);
    return obj;
  });

  return map;
};