/**
*
* {{ properCase name }}
*
*/

import React, {Component} from 'react';
import PropTypes from 'prop-types';

class {{ properCase name }} extends Component { // eslint-disable-line react/prefer-stateless-function
  render() {
    return (
      <div>{{ properCase name }}</div>
    );
  }
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
