/**
*
* {{ properCase name }}
*
*/

import React from 'react';
import PropTypes from 'prop-types';

const {{ properCase name }} = (props) => (
    <div>{{ properCase name }}</div>
)

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
